body {
    background: #444;
    padding: 2em;
    color: #fff;
    font-size: 1.5em;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    padding: 1em;
}

code {
    color: red;
}